services:
  config-server:
    build:
      context: ./Back-end/Config-server
      dockerfile: Dockerfile
    container_name: config-server
    ports:
      - '8888:8888'
    expose:
      - '8888'
    environment:
      - SPRING_PROFILES_ACTIVE=native
    volumes:
      - ./Back-end/Config-server/src/main/resources/configurations:/configurations
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      retries: 4
  discovery-service:
    build: ./Back-end/Discovery
    container_name: discovery-service
    ports:
      - '8761:8761'
    expose:
      - '8761'
    environment:
      - CONFIG_SERVER_URL=http://config-server:8888
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      retries: 10
    depends_on:
      config-server:
        condition: service_healthy
  gateway-service:
    build: ./Back-end/gateway
    container_name: gateway-service
    ports:
      - '8222:8222'
    expose:
      - '8222'
    environment:
      - CONFIG_SERVER_URL=http://config-server:8888
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8222/actuator/health" ]
      interval: 10s
      retries: 4
    depends_on:
      discovery-service:
        condition: service_healthy
  mysql-server:
    image: mysql:8.0
    container_name: mysql-server
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
    ports:
      - "3306:3306"
    expose:
      - '3306'
    depends_on:
      gateway-service:
        condition: service_healthy
        #volumes:
      #- c:/docker/mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 3
  user-service:
    container_name: user-service
    build:
      context: ./Back-end/UserService
    ports:
      - "8088:8088"
    expose:
      - '8088'
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/usermanagement
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
    depends_on:
      mysql-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8088/actuator/health" ]
      interval: 10s
      retries: 8
  auth-service:
    build: ./Back-end/AuthService
    container_name: auth-service
    ports:
      - '8085:8085'
    expose:
      - '8085'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/usermanagement
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      user-service:
        condition: service_healthy
  address-service:
    build: ./Back-end/AddressService
    container_name: address-service
    ports:
      - '8084:8084'
    expose:
      - '8084'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/address
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      auth-service:
        condition: service_healthy
  contact-service:
    build: ./Back-end/ContactService
    container_name: contact-service
    ports:
      - '8885:8885'
    expose:
      - '8885'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/Contacts
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      address-service:
        condition: service_healthy
  labo-service:
    build: ./Back-end/LaboratoryService
    container_name: labo-service
    ports:
      - '8886:8886'
    expose:
      - '8084'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/Labodb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      contact-service:
        condition: service_healthy
  microtest-service:
    build: ./Back-end/MicroTestService
    container_name: microtest-service
    ports:
      - '8087:8087'
    expose:
      - '8087'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/TestAnalyse
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      labo-service:
        condition: service_healthy
  epreuve-service:
    build: ./Back-end/TestService
    container_name: epreuve-service
    ports:
      - '8889:8889'
    expose:
      - '8889'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/epreuve
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      microtest-service:
        condition: service_healthy
  analyse-service:
    build: ./Back-end/AnalysisService
    container_name: analyse-service
    ports:
      - '8887:8887'
    expose:
      - '8887'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/analyse
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      epreuve-service:
        condition: service_healthy
  folder-service:
    build: ./Back-end/FolderService
    container_name: folder-service
    ports:
      - '8898:8898'
    expose:
      - '8898'
    environment:
      CONFIG_SERVER_URL: http://config-server:8888
      DISCOVERY_SERVICE_URL: http://discovery-service:8761/eureka
      GATEWAY_SERVICE_URL: http://gateway-service:8222
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-server:3306/folders
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD:
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8085/actuator/health" ]
      interval: 10s
      retries: 8
    depends_on:
      analyse-service:
        condition: service_healthy

    #front-end-angular:
    # build: ./frontend
    # container_name: front-end-angular
        #ports:
      # - '82:80'
        #  expose:
    #   - '82'