:root {
    --primary-color: #104b60;
    --secondary-color: #2cbce4;
    --font-family: 'Roboto', sans-serif;
    --text-color: #343a40;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.2);
}
html,
body {
  height: 100%; /* Assurez que la hauteur est 100% pour toute la page */
  margin: 0;
}



