name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Étape 1: Checker le code
      - name: Checkout code
        uses: actions/checkout@v3

      # Étape 2: Installer Maven avec JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'

      # Étape 3: Construire et tester chaque microservice
      - name: Build and test Config Server
        working-directory: Back-end/Config-server
        run: mvn clean package

      - name: Build and test Discovery Service
        working-directory: Back-end/Discovery
        run: mvn clean package

      - name: Build and test Gateway Service
        working-directory: Back-end/gateway
        run: mvn clean package

      - name: Build and test User Service
        working-directory: Back-end/UserService
        run: mvn clean package

      - name: Build and test Auth Service (skip failing tests)
        working-directory: Back-end/AuthService
        run: mvn clean package -DskipTests


      # Étape 4: Construire les images Docker
      - name: Build Docker images
        run: docker-compose build

      # Étape 5: Lancer docker-compose pour démarrer les services
      - name: Run Docker Compose
        run: docker-compose up -d
