name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Étape 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Étape 2: Installer Maven avec JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'temurin'

      # Étape 3: Installer Docker (et résoudre les conflits)
      - name: Install Docker
        run: |
          sudo apt-get update
          sudo apt-get remove -y containerd containerd.io docker docker-engine docker.io
          sudo apt-get install -y docker.io

      # Étape 4: Installer Docker Compose
      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      # Étape 5: Vérifier l'installation de Docker et Docker Compose
      - name: Verify Docker and Docker Compose installation
        run: |
          docker --version
          docker-compose --version

      # Étape 6: Build and test Config Server
      - name: Build and test Config Server
        run: |
          cd Back-end/Config-server
          mvn clean package

      # Étape 7: Build and test Discovery Service
      - name: Build and test Discovery Service
        run: |
          cd Back-end/Discovery
          mvn clean package

      # Étape 8: Build and test Gateway Service
      - name: Build and test Gateway Service
        run: |
          cd Back-end/gateway
          mvn clean package

      # Étape 9: Build and test User Service
      - name: Build and test User Service
        run: |
          cd Back-end/UserService
          mvn clean package

      # Étape 10: Build and test Auth Service
      - name: Build and test Auth Service
        run: |
          cd Back-end/AuthService
          mvn clean package

      # Étape 11: Construire les images Docker
      - name: Build Docker images
        run: |
          docker-compose build

      # Étape 12: Lancer docker-compose pour démarrer les services
      - name: Run Docker Compose
        run: |
          docker-compose up -d
